[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
attrs = "*"
bcrypt = "*"
blinker = "*"
certifi = "*"
chardet = "*"
click = "*"
cryptography = "*"
django = "*"
docopt = "*"
duplicity = "*"
requests = "*"
pillow = "*"
six = "*"
daphne = "*"
channels = "*"
djangorestframework = "*"
django-cors-headers = "*"
channels-redis = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
