@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #050e2d;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #1aeeef;
    border-radius: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
    /* background-color: #1b2141; */
}

header.sticky {
    background-color: #1b2141;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    /* font-size: 2em; */
    font-weight: 700;
}

header .logo img {
    position: relative;
    width: auto;
    height: 100%;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10 px;
}

header ul li a {
    color: #a0a0a0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    display: inline-block;
}

header ul li a:hover {
    color: #fff;
    font-weight: 600;
}

header ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 3px;
    background-color: #1aeeef;
    box-shadow: 0px 2px 5px #1aeeef;
    transform: scaleX(1);
    transform-origin: bottom left;
}

header ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #1aeeef;
    box-shadow: 0px 2px 5px #1aeeef;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom left;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .action {
    display: flex;
    text-align: end;
}

.action .bel {
    color: #fff;
    margin-left: 10px;
    font-size: 1.7em;
}

.profile-box {

    padding-left: 10px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    padding-bottom: 15px;
}

.profile-box a {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 5px;
    color: #1aeeef
}

.profile-box .img-bx {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    position: relative;
    border-radius: 50%;
}

.img-bx img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

.flex-1 {
    position: relative;
    flex-direction: column;
    display: flex;
    /* flex: 1; */
    width: 88%;
    gap: 20px;
    margin-left: 20px;
    overflow: hidden;
    /* background-color: #fff; */
}

.profile-items {

    min-height: 300px;
    margin-top: 50px;
    position: relative;
    background-color: #1b2141;
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: space-between; */
    border-radius: 20px;
}

.coalition-box {
    position: relative;
    width: 90px;
    margin-left: 10px;
    height: 130px;
    margin-bottom: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.background {
    z-index: 1;
    position: absolute;
    width: 90px;
    height: 150px;
    margin-top: 20px;
}

.half {
    flex: 1;
    display: flex;
    width: 50%;
    gap: 10px;
    align-items: center;
    /* background-color: #0f70b1; */
}

.coalition-box .coalition {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.clip {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 130px;
    height: 200px;
    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.clip .flip {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    filter: drop-shadow(-1px 6px 3px #1aeeef);
}

.clip img {
    box-shadow: #1aeeef 0px 20px 30px -10px;
    object-fit: cover;
    width: 100px;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.title-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 20px;
}

.sub-title h4 {
    color: #1aeeef;
    padding-left: 5%;
    font-size: 1.2em;
    font-style: italic;
}

.sub-title h4:hover {
    font-size: 1.4em;
    box-shadow: #1aeeef 0px 20px 30px -10px;
    ;
}

.setting-box {
    filter: drop-shadow(-1px 6px 3px #1aeeef);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 35px;
    height: 35px;
    outline: 2px solid #1aeeef;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.setting-box i {
    position: relative;
    text-align: center;
    margin-top: 10PX;
}

.setting-box i:hover {
    font-size: 1.3em;
}

.rank-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.rank-box h4 {
    font-style: italic;
    color: #7e638a;
    font-size: 1.2em;
    font-weight: 600;
}

.rank-box h4:hover {
    color: #be86ba;
    font-size: 1.4em;
    box-shadow: #7e638a 0px 20px 30px -10px;
}

#rank {
    color: #a04698;
    font-weight: 700;
}

#rank:hover {
    color: #be86ba;
    font-size: 1.5em;
    box-shadow: #7e638a 0px 20px 30px -10px;
}

.level-bx {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 300px;
    /* max-width: 500px; */
    height: 120px;
    border-radius: 5px;
    justify-content: space-around;
    border-left: 3px solid #1aeeef;
}

.level-name {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.level-line {
    width: 95%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 5px;
}

.level-progress {
    height: 100%;
    width: 30%;
    background: linear-gradient(90deg, #a04698, #7e638a);
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.dashbord {
    flex: 1;
    width: 50%;
    /* align-items:flex-end; */
    display: flex;
    position: relative;
    justify-content: end;
}

.box {
    margin-right: 15px;
    box-shadow: #c0b6b6 0px 3px 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 130px;
    min-width: 110px;
    max-width: 130px;
    width: 20%;
    border-radius: 10px;

}

.box h4 {
    margin-bottom: 5px;
}

.skill {
    /* margin-left: 30px; */
    width: 90px;
    height: 90px;
    position: relative;

}

.outer {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px #0f70b1,
        -6px -6px 10px -1px #0f70b1;
    padding: 10px;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: inset 6px 6px 10px -1px #0f70b1, inset -6px -6px 10px -1px #0f70b1;
}

#number,
#lose {
    font-weight: 600;
    color: #1aeeef;
}

circle {
    fill: none;
    stroke: url(#MorningDewGradient);
    stroke-width: 10px;
    stroke-dasharray: 246;
    stroke-dashoffset: 246;
    animation: anim 2s linear forwards;
}

#LossRate {
    stroke: url(#OceanBlueGradient);

}

svg {
    position: absolute;
    top: 0;
    left: 0;
}


.match {
    margin-right: 15px;
    min-width: 110px;
    max-width: 130px;
    width: 20%;
    height: 130px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    box-shadow: #c0b6b6 0px 3px 8px;
}

.match h4 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#matchScore,
#tournamentsScore {
    color: #1aeeef;
    margin-top: 20px;
    font-weight: 700;
}

.activity {
    display: flex;
    width: 100%;
    position: relative;
    gap: 20px;
}

.acheivements {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    background-color: #1b2141;
    border-radius: 20px;
    flex-wrap: wrap;
}

.h2Title {
    margin-top: 10px;
    font-size: 1.8em;
    text-align: center;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: #1aeeef 0px 20px 30px -10px;
}


.acheiv-Box {
    /* background-color: #1aeeef; */
    gap: 10px;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    ;
}

.cardbox {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
    height: 200px;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 15px;
    z-index: 1;
}

.cover {
    display: flex;
    position: relative;

}

.cover img {
    width: 130px;
    height: 200px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;

}

#locked1 {
    display: flex;
    width: 90px;
    height: 90px;
    border: 2px solid #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* z-index: 2; */
}

#locked1 i {
    font-size: 1.2em;
}

.cardbox h4 {
    text-align: center;
    color: #1aeeef;
}


.history h2 {
    text-align: center;
}

.history {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    background-color: #1b2141;
    border-radius: 20px;
}

.matchhISTORY {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.game-entry {
    width: 95%;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #444;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;

}

.game-entry:last-child {
    /* border-bottom: none; */
}

.player {
    display: flex;
    align-items: center;
    max-width: 45%;
    position: relative;
    /* justify-content: space-between; */
}

.player img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.player-name {
    font-weight: 600;
    color: #1aeeef;
    font-size: 1.3em;
}

#player1 {
    margin-right: 10px;
}

#player2 {
    margin-left: 10px;
}

.points {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;

}


.tournament-bx {

    display: flex;
    width: 100%;
    position: relative;
    gap: 20px;
}

.tournament {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    background-color: #1b2141;
    border-radius: 20px;
}

.trophy-bx {
    gap: 10px;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    ;
}

.trophy-placeholder {

    /* border: 2px dashed #b3e0ff; */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
    /* background:url('acheivements/star1.png')no-repeat; */
    background-size: cover;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.trophy-placeholder .trophy-icon {
    position: relative;
    width: 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.trophy-icon i {
    font-size: 60px;
    color: #8e9ca5;
}

.trophy-icon .tour-name {
    color: rgb(243, 236, 199);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

.trophy-placeholder .trophy-icon img {
    position: relative;
    width: 100%;
    height: 100%;
}

.trophy-placeholder .no-acheiv {
    /* margin-top: 15px; */
    font-size: 1.2em;
    color: #d9e2e7;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.tournamentHistory {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    background-color: #1b2141;
    border-radius: 20px;
}


.history-list {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tournament-item {
    width: 160px;
    height: 230px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    border: 6px solid #fff;
    position: relative;

}

.tournament-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
    right: -100%;
}

.tournament-item:hover .card-body {
    right: 0;
}

.para {
    margin-top: 10px;
}

.card-title {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
}

.card-info {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.flex-2 {
    position: relative;
    flex-direction: column;
    display: flex;
    background-color: #1b2141;
    width: 15%;
    border-radius: 20px;
    margin-right: 20px;
}

.searchBx {

    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    background-color: #050e2d;
    align-items: center;
    border-radius: 7px;
    height: 30px;
    width: 90%;
    position: relative;
}

.searchBx i {
    font-size: 1.4em;
    margin: 5px;
    color: #fff;
}

.searchBx input {
    position: relative;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1em;
    background-color: transparent;
    width: 100%;
}

.users-list {
    width: 100%;
    padding: 5px;
    border-radius: inherit;
    max-height: 1210px;
    /* overflow-y: hidden; */
}

.users-list:hover {
    /* overflow-y: auto; */
}

.user {
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    box-shadow: #c0b6b6 0px 3px 8px;
    width: 95%;
    height: 80px;
    margin: 10px 5px 0 5px;
    flex: 1;
    gap: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(156, 148, 148, 0.1);
    padding: 5px 0 0 5px;
    /* background-color: #150d33; */
    border-radius: 8px;
}

.user img {
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user button {

    font-family: 'Courier New', Courier, 'monospace';
    font-size: 1em;
    font-weight: 600;
    width: 60px;
    margin-right: 5px;
    border: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #c0b6b6 0px 3px 8px;
    color: #a04698;
}

.user button:hover,
.user button:focus,
.user button:active,
.user button:vertical {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.info-user {
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow: hidden;
}

.flex-2 .logout {
    position: absolute;
    bottom: 0;
    width: 90%;
}

@media screen and (max-width: 1270px) {
    .dashbord {
        max-width: 30%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1100px) {
    .profile-items {
        height: 460px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .half {
        width: 100%;
    }

    .dashbord {
        /* background-color: #a04698; */
        min-width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-around;
    }

    .level-bx {
        width: 50%;
    }
}

@media screen and (max-width: 990px) {
    .game-entry {
        min-width: 100%;
        gap: 5px;
    }
}

@media screen and (max-width: 920px) {
    .flex-2 {
        display: none;
    }

    .content {
        flex-direction: column;
        padding: 10px;
    }

    .flex-1 {
        min-width: 97%;

    }

}
@media screen and (max-width: 525px) {
    .half
    {
        flex-wrap: wrap;
    }
    .level-bx{
        min-width: 80%;
    }
    .profile-items
    {
        height: auto;
    }
    .dashbord
    {
        flex-wrap: wrap
    }
}
@media screen and (max-width: 710px) {

    .activity {
        flex-direction: column;
    }

    .acheivements {
        width: 100%;
    }

    .history {
        width: 100%;
    }

    .tournament-bx {
        flex-direction: column;
    }
    .tournament
    {
        width: 100%;
    }
    .tournamentHistory
    {
        width: 100%;
    }
}