.pie-slice-border {
    position: relative;
    width: auto;
    height: auto;
    /* clip-path: polygon(50% 50%, 100% 0, 100% 100%, 50% 100%); */
    background-color: black;
    clip-path: polygon(50% 50%, 100% 50%, calc(50% + 50% * cos(60deg)) calc(50% + 50% * sin(60deg)));
}


.pie-slice-border::after{
    content: '';
    background-color: aqua;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 196px;
    height: 196px;
}--color: #ff6384;"></div>
<div class="slice" style="--rotate: 90; --color: #36a2eb;"></div>
<div class="slice" style="--rotate: 180; --color: #ffce56;"></div>
<div class="slice" style="--rotate: 270; --color: #4bc0c0;