@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #050e2d;
    display: flex;
    flex-direction: column;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #1aeeef;
    border-radius: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
    /* background-color: #1b2141; */
}

header.sticky {
    background-color: #1b2141;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    /* font-size: 2em; */
    font-weight: 700;
}

header .logo img {
    position: relative;
    width: auto;
    height: 100%;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10 px;
}

header ul li a {
    color: #a0a0a0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    display: inline-block;
}

header ul li a:hover {
    color: #fff;
    font-weight: 600;
}

header ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 3px;
    background-color: #1aeeef;
    box-shadow: 0px 2px 5px #1aeeef;
    transform: scaleX(1);
    transform-origin: bottom left;
}

header ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #1aeeef;
    box-shadow: 0px 2px 5px #1aeeef;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom left;
}

header .action {
    display: flex;
    text-align: end;
}

.action .bel {
    color: #fff;
    margin-left: 10px;

    font-size: 1.7em;
}

header .action .searchBx {
    margin-left: 100px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    height: 30px;
}

header .action .searchBx i {
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}

header .action .searchBx input {
    outline: none;
    border: none;
    color: #222;
    font-size: 1em;
}

.profile-box {

    padding-left: 10px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    padding-bottom: 15px;
}

.profile-box a {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 5px;
    color: #1aeeef;
    text-decoration: none;
}

.profile-box .img-bx {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
}

.img-bx img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.action svg {
    display: none;
    margin-left: 17px;
    cursor: pointer;
}
.nav-side {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    gap: 15px;
    background-color: #050e2d;
    padding-bottom: 12px;
    padding-left: 12px;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(37, 57, 125, 0.96);
}

.nav-side svg {
    margin: 10px 0 0 30px;
    height: 35px;
    cursor: pointer;
}

.nav-side li a {
    width: 100%;
}

.content {
    display: flex;
    flex-direction:column;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px 10px 10px 5px;
    gap: 20px;
}


.flex-item {
    /*double class for flex3*/
    min-width: 230px;
    flex: 1;
    margin: 10px;
    text-align: center;
 
}
.flex1{
    padding: 10px 5px 0 5px;
    margin: 10px 0 0 10;
    flex: 1;
    background-color: #1b2141;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: relative;
    background-image: url(acheivements/DALL·E-2024-08-22-14.38\ \(1\).jpg);
    background-position:2%;
    background-size: cover;
    height: 170px;
}
.btton{
    height: 60px;
    margin-top: 20px;
}



.btn {
    
    padding: 10px 40px;
    /* margin: 10px auto; */
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    color: #784ba0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1 px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:vertical {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}/* Specific flex settings */
.flex2 {
    padding: 10px 5px 0 5px;
    margin: 10px 0 0 10;
    flex: 1;
    background-color: #1b2141;
    width: 100%;
    border-radius: 20px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.T-leftSide
{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    min-height: 300px;
    justify-content: center;
    gap:10px;
}
.Bracket
{
    width: 10%;
    height: 19%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);    /* Top border */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Bottom border */
    border-right: 1px solid rgba(255, 255, 255, 0.3);  /* Right border */
    border-left: none;  
    position: absolute;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px ;
    left: 20%;
    z-index: 1;
}
.player1 {
    position: relative;
    width: 50%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    /* flex-wrap: wrap; */
}

.input-wrapper
{
    width: 90%;
    height: 80%;
    border: 1px solid rgba(156, 148, 148, 0.1);
    box-shadow: #488aac 0px 3px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius:30px;
    background-color: #488aac38;
    ;
}
.player1 img {
    width: 65px;
    height: 65px; 
    border-radius: 50%;
}

.player1 input {
    width: 60%;
    font-weight: 600;
    color: #1aeeef;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    border: none;
    background-color:transparent;
}
.player1 input::placeholder {
    color: #fff; 
    opacity: 2; 
}

.player2 {
    position: relative;
    width: 50%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    z-index: 2;
}

.player2 .vs
{
    position: absolute;
    width: 40%;
    left: -70%;
}
.player2 .player-Prof {
  
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 1; 
}

.player2 input {
   width: 60%;
    font-weight: 600;
    color: #1aeeef;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    border: none;
    background-color:transparent;
}
.player2 input::placeholder {
   color: #fff; 
    opacity: 1; 
}

 .T-Middle
 {
    width: 20%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.T-Middle h2
{
    color: #1aeeef;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.T-Middle .cup
{
    position: relative;
    width: 85%;
    height:auto;
    object-fit: cover;
} 
 .Winner
 {
    padding-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 .Winner h3
 {
    color: #ffd600;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.8em;
    font-weight: 600;
 }
 .Winner-info{
    position: relative;
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.Winner-info .box-img
{
    position: relative;
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.user-profile
{
    position: relative;
    width: 60px;
    height: 60px;   
    border-radius: 50%;
    object-fit: cover;
}
.crown
{
    position: relative;
    width: 120px;
    height: 40px;   
    object-fit: cover;
}

.Winner-info h3
{
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.3em;
}



 .T-rightSide
 {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    min-height: 300px;
    justify-content: center;
    gap:10px;
}
 
.T-rightSide .Brackett
{
    width: 10%;
    height: 19%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);    /* Top border */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Bottom border */
    border-left: 1px solid rgba(255, 255, 255, 0.3);  /* Right border */
    border-right: none;  
    position: absolute;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px ;
    right:  19%;
    z-index: 1;
}
.T-rightSide .player1 {
    align-self: flex-end;
}



.T-rightSide .player2 {
  
    align-self:flex-start;
  
}

.T-rightSide .player2 .vss
{
    position: absolute;
    width: 40%;
    right: -70%;

}
 .flex3
{
    padding: 10px 5px 15px 5px;
    margin: 10px 0 0 10;
    flex: 1;
    background-color: #1b2141;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.tournament-stage {
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 128, 75);
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;

  }
  
  .game-entry {
    width: 70%;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;

}

.player {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.player-name {
    font-weight: 600;
    color: #1aeeef;
    font-size: 1.3em;
}

#player2 {
    margin-left: 10px;
}

.points {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 868px) {
    .three-line-icon {
        display: flex;
    }

    .game-entry 
    {
        position: relative;
        width: 100%;
        justify-content: space-between;
    }
    .hide-in-small-size {
        display: none;
    }

    .action svg {
        display: flex;
    }

    header .nav {
        display: none;
    }

    .Info {
        transform: scale(1);
        justify-content: space-around;
    }
     .input-wrapper
     {
        flex-wrap: wrap;
        height: 120px;
        gap: 5px;
        width: 100%;
     }
     .cup
     {
        overflow: auto;
        max-width: 90px;
        object-fit: fill;
        max-height:170px;
     }
     .flex2 {
        min-height: 400px;
     }
}
@media (max-width: 480px) 
{
    .three-line-icon {
        display: flex;
    }

    .hide-in-small-size {
        display: none;
    }

    .action svg {
        display: flex;
    }

    header .nav {
        display: none;
    }

    .Info {
        transform: scale(1);
        justify-content: space-around;
    }
    .input-wrapper input
    {
        font-size: 0.6em;
    }
    input::placeholder
    {
        font-size: 1em;
    }
    .cup
    {
        display: none;
    }
    .game-entry 
    {
        justify-content: center;
    }
    .flex3 .game-entry #player2 {
        margin-left: unset;

    }
    .flex3 .game-entry .player  img
    {
        margin: unset;
    }
    .T-Middle h3 
    {
        font-size: 1.2em;
        margin-bottom: 30px;
    }
    .T-Middle .Winner-info {

        align-self: flex-end;
    }
    .T-Middle .Winner-info h3 
    {
        margin-top: 20px;
        font-weight: 500;
    }
}

/*animmate background*/
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: url('whitwill/glass.png')no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
            #ff3cac 0%,
            #784ba0 50%,
            #2b86c5 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 5%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: url(whitwill/glass.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.circles li:nth-child(2) {
    left: 50%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
    animation-duration: 29s;
}

.circles li:nth-child(3) {
    left: 75%;
    width: 150px;
    height: 510px;
    animation-delay: 0s;
    animation-duration:infinite;
}

.circles li:nth-child(4) {
    left: 22%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.circles li:nth-child(5) {
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: url(whitwill/glass.png)no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 15s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
    background: url(whitwill/game-co.png)no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 11s;
}

.circles li:nth-child(7) {
    left: 55%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
    background: url(whitwill/game-co.png)no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 18s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: 15s;
    animation-duration: 25s;
    /* background: url(whitwill/ball.png)no-repeat; */
    background-position: center;
    background-size: cover;
}

.circles li:nth-child(9) {
    left: 25%;
    width: 70px;
    height: 70px;
    animation-delay: 4s;
    animation-duration: 16s;
}

.circles li:nth-child(10) {
    left: 65%;
    width: 55px;
    height: 55px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.circles li:nth-child(11) {
    left: 7%;
    width: 75px;
    height: 75px;
    animation-delay: 4s;
    animation-duration: 16s;
}

.circles li:nth-child(12) {
    left: 47%;
    width: 67px;
    height: 67px;
    animation-delay: 4s;
    animation-duration: 18s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
