@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.fr-tournament-container {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 80px 40px 40px 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1b2141;
    height: calc(100vh - 120px);
    width: calc(100vw - 80px);
    border-radius: 20px;
    padding: 0 10px;
    overflow: hidden;
}

.fr-tournament-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    flex:1;
    height: 60%;
}

.fr-tournament-part1,.fr-tournament-part5 {
    justify-content: space-between;
}
.fr-tournament-player{
    flex: 1;
    width: 100%;
    max-height: 60px;
    min-height: 60px;
    border-radius: 20px;
    border: yellowgreen 2px solid;
    background-color: #1b2141;
    z-index:999;
}

.fr-tournament-part3 img{
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.fr-tournament-player3{
    position: relative;
}
.fr-tournament-player3::after{
    all:unset;
    content: '';
    position: absolute;
    right: 90%;
    top: 50%;
    width: calc(10% + 80px);
    height: 430%;
    transform: translateY(-50%);
    border-radius: 20px;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}