@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #1aeeef;
    border-radius: 6px;
}

.tournament-content {
    display: flex;
    flex-direction:column;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px 10px 10px 5px;
    gap: 20px;
}

.tournament-flex-item {
    min-width: 230px;
    flex: 1;
    margin: 10px;
    text-align: center;
 
}

.tournament-flex1{
    padding: 10px 5px 0 5px;
    margin: 10px 0 0 10;
    flex: 1;
    background-color: #1b2141;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: relative;
    background-image: url(acheivements/DALL·E-2024-08-22-14.38\ \(1\).jpg);
    background-position:2%;
    background-size: cover;
    height: 170px;
}
.tournament-btton{
    height: 60px;
    margin-top: 20px;
}



.tournament-btn {
    padding: 10px 40px;
    /* margin: 10px auto; */
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    color: #784ba0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1 px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.tournament-btn:hover,
.tournament-btn:focus,
.tournament-btn:active,
.tournament-btn:vertical {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}/* Specific flex settings */
.tournament-flex2 {
    padding: 10px 5px 0 5px;
    margin: 10px 0 0 10;
    flex: 1;
    background-color: #1b2141;
    width: 100%;
    border-radius: 20px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.tournament-T-leftSide
{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    min-height: 300px;
    justify-content: center;
    gap:10px;
}
.tournament-Bracket
{
    width: 10%;
    height: 19%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);    /* Top border */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Bottom border */
    border-right: 1px solid rgba(255, 255, 255, 0.3);  /* Right border */
    border-left: none;  
    position: absolute;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px ;
    left: 20%;
    z-index: 1;
}
.tournament-player1 {
    position: relative;
    width: 50%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    /* flex-wrap: wrap; */
}

.tournament-input-wrapper
{
    width: 90%;
    height: 80%;
    border: 1px solid rgba(156, 148, 148, 0.1);
    box-shadow: #488aac 0px 3px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius:30px;
    background-color: #488aac38;
    ;
}
.tournament-player1 img {
    width: 65px;
    height: 65px; 
    border-radius: 50%;
}

.tournament-player1 input {
    width: 60%;
    font-weight: 600;
    color: #1aeeef;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    border: none;
    background-color:transparent;
}
.tournament-player1 input::placeholder {
    color: #fff; 
    opacity: 2; 
}

.tournament-player2 {
    position: relative;
    width: 50%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    z-index: 2;
}

.tournament-player2 .tournament-vs
{
    position: absolute;
    width: 40%;
    left: -70%;
}
.tournament-player2 .tournament-player-Prof {
  
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 1; 
}

.tournament-player2 input {
   width: 60%;
    font-weight: 600;
    color: #1aeeef;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    border: none;
    background-color:transparent;
}
.tournament-player2 input::placeholder {
   color: #fff; 
    opacity: 1; 
}

 .tournament-T-Middle
 {
    width: 20%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.tournament-T-Middle h2
{
    color: #1aeeef;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.tournament-T-Middle .tournament-cup
{
    position: relative;
    width: 85%;
    height:auto;
    object-fit: cover;
} 
 .tournament-Winner
 {
    padding-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 .tournament-Winner h3
 {
    color: #ffd600;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.8em;
    font-weight: 600;
 }
 .tournament-Winner-info{
    position: relative;
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.tournament-Winner-info .tournament-box-img
{
    position: relative;
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.tournament-user-profile
{
    position: relative;
    width: 60px;
    height: 60px;   
    border-radius: 50%;
    object-fit: cover;
}
.tournament-crown
{
    position: relative;
    width: 120px;
    height: 40px;   
    object-fit: cover;
}

.tournament-Winner-info h3
{
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.3em;
}



 .tournament-T-rightSide
 {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    min-height: 300px;
    justify-content: center;
    gap:10px;
}
 
.tournament-T-rightSide .tournament-Brackett
{
    width: 10%;
    height: 19%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);    /* Top border */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Bottom border */
    border-left: 1px solid rgba(255, 255, 255, 0.3);  /* Right border */
    border-right: none;  
    position: absolute;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px ;
    right:  19%;
    z-index: 1;
}
.tournament-T-rightSide .tournament-player1 {
    align-self: flex-end;
}



.tournament-T-rightSide .tournament-player2 {
  
    align-self:flex-start;
  
}

.tournament-T-rightSide .tournament-player2 .tournament-vss
{
    position: absolute;
    width: 40%;
    right: -70%;

}
 .tournament-flex3
{
    padding: 10px 5px 15px 5px;
    margin: 10px 0 0 10;
    flex: 1;
    background-color: #1b2141;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.tournament-tournament-stage {
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 128, 75);
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;

  }
  
  .tournament-game-entry {
    width: 70%;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;

}

.tournament-player {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tournament-player img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tournament-player-name {
    font-weight: 600;
    color: #1aeeef;
    font-size: 1.3em;
}

#player2 {
    margin-left: 10px;
}

.tournament-points {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 868px) {
    .tournament-three-line-icon {
        display: flex;
    }

    .tournament-game-entry 
    {
        position: relative;
        width: 100%;
        justify-content: space-between;
    }
    .tournament-hide-in-small-size {
        display: none;
    }

    .tournament-action svg {
        display: flex;
    }

    header .tournament-nav {
        display: none;
    }

    .tournament-Info {
        transform: scale(1);
        justify-content: space-around;
    }
     .tournament-input-wrapper
     {
        flex-wrap: wrap;
        height: 120px;
        gap: 5px;
        width: 100%;
     }
     .tournament-cup
     {
        overflow: auto;
        max-width: 90px;
        object-fit: fill;
        max-height:170px;
     }
     .tournament-flex2 {
        min-height: 400px;
     }
}
@media (max-width: 480px) 
{
    .tournament-three-line-icon {
        display: flex;
    }

    .tournament-hide-in-small-size {
        display: none;
    }

    .tournament-action svg {
        display: flex;
    }

    header .tournament-nav {
        display: none;
    }

    .tournament-Info {
        transform: scale(1);
        justify-content: space-around;
    }
    .tournament-input-wrapper input
    {
        font-size: 0.6em;
    }
    input::placeholder
    {
        font-size: 1em;
    }
    .tournament-cup
    {
        display: none;
    }
    .tournament-game-entry 
    {
        justify-content: center;
    }
    .tournament-flex3 .tournament-game-entry #player2 {
        margin-left: unset;

    }
    .tournament-flex3 .tournament-game-entry .tournament-player  img
    {
        margin: unset;
    }
    .tournament-T-Middle h3 
    {
        font-size: 1.2em;
        margin-bottom: 30px;
    }
    .tournament-T-Middle .tournament-Winner-info {

        align-self: flex-end;
    }
    .tournament-T-Middle .tournament-Winner-info h3 
    {
        margin-top: 20px;
        font-weight: 500;
    }
}

/*animmate background*/
.tournament-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tournament-circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: url('whitwill/glass.png')no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
            #ff3cac 0%,
            #784ba0 50%,
            #2b86c5 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.tournament-circles li:nth-child(1) {
    left: 5%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: url(whitwill/glass.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.tournament-circles li:nth-child(2) {
    left: 50%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
    animation-duration: 29s;
}

.tournament-circles li:nth-child(3) {
    left: 75%;
    width: 150px;
    height: 510px;
    animation-delay: 0s;
    animation-duration:infinite;
}

.tournament-circles li:nth-child(4) {
    left: 22%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.tournament-circles li:nth-child(5) {
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: url(whitwill/glass.png)no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 15s;
}

.tournament-circles li:nth-child(6) {
    left: 75%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
    background: url(whitwill/game-co.png)no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 11s;
}

.tournament-circles li:nth-child(7) {
    left: 55%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
    background: url(whitwill/game-co.png)no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 18s;
}

.tournament-circles li:nth-child(8) {
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: 15s;
    animation-duration: 25s;
    /* background: url(whitwill/ball.png)no-repeat; */
    background-position: center;
    background-size: cover;
}

.tournament-circles li:nth-child(9) {
    left: 25%;
    width: 70px;
    height: 70px;
    animation-delay: 4s;
    animation-duration: 16s;
}

.tournament-circles li:nth-child(10) {
    left: 65%;
    width: 55px;
    height: 55px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.tournament-circles li:nth-child(11) {
    left: 7%;
    width: 75px;
    height: 75px;
    animation-delay: 4s;
    animation-duration: 16s;
}

.tournament-circles li:nth-child(12) {
    left: 47%;
    width: 67px;
    height: 67px;
    animation-delay: 4s;
    animation-duration: 18s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
