@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

/* khadija */

.home-users-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    gap: 15px;
    border-radius: inherit;
    max-height: 760px;
    overflow-y: auto;
}

.home-user {
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    box-shadow: #524747 0px 0px 8px;
    height: 80px;
    flex: 1;
    gap: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(156, 148, 148, 0.1);
    padding: 5px 0 0 5px;
    border-radius: 8px;
}
.home-suggestion-img{
    width: 45px;
    height: 45px;
}

.home-suggestion-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-suggestion-container {
    position: relative;
    padding-top: 20px;
    background-color: #1b2141;
    flex:1;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* bottom: 80px; */
}

.home-rank-user{
    display: inline;
    color:rgb(110, 5, 230);
    background-color:white;
    border-radius: 50%;
    width: auto;
    aspect-ratio: 1/1;
    width: 30px;
    text-align: center;
    text-justify: center;
    line-height: 2;
}
.home-user button {
    line-height: 1;
    height: 30px;
    cursor: pointer;
    font-family: 'Courier New', Courier, 'monospace';
    font-size: 1em;
    font-weight: 600;
    width: 65px;
    margin-right: 5px;
    border: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #c0b6b6 0px 3px 8px;
    color: #a04698;
}

.home-cancel-btn {
    display: none;
    color: rgba(190, 7, 7, 0.904) !important;
}

.home-user button:hover,
.home-user button:focus,
.home-user button:active,
.home-user button:vertical {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.home-info-user {
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow: hidden;
}

.home-info-user h3{
    font-size: 16px;
    padding-left: 5px;
    overflow: hidden;
    margin: 0;
}
.home-users-list:hover {
    overflow-y: auto;
}

.home-main {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-right: 12px;
    overflow: hidden auto;
}

.home-content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    right: 30px;
    left: 10px;
    top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

/* Specific flex settings */
.home-flex1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex: 1;
    min-width: 190px;
    border-radius: 20px;
}

.home-flex1 h2 {
    color: #1aeeef;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    font-weight: 500;
}

.home-tournament-local {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 20px;
    gap: 10px;
    background-color: #1b2141;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
}
.home-tournament-local h2
{
    margin-top: 20px;
   font-weight: 600;
   
}
.local-glass
{
    z-index: 4;
    position: absolute;
    top: 21%;
    justify-content: center;
    width: 100%;
    height: 100px; 
    background:linear-gradient(#41578a,transparent);

}
.local-glass p{
    align-self: center;
    justify-self: center;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    
}

.home-tournament-local .Tour-Character
{
    border-radius: 10px;
    width: 100%;
    height:370px;
    object-fit: cover;
    z-index: 2;
}
.Tour-Child
{
    top:10%;
    transform: translate(-50%,-50%);
    left: 20%;
    transform: rotateZ(-40deg);
    position: absolute;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
/* .home-tournament-local p, strong {
    text-align: center;
    color: rgb(118, 161, 213);
}

.home-tournament-local .home-btn{
    width: 118px;
    height: 50px;
    text-align: center;
    padding: 0;
} */

/****flex2****/
.home-flex2 {
    gap: 10px;
    overflow: unset;
    flex: 5;
    display: flex;
    min-width: 400px;
    flex-direction: column;
}

/**tournament*/
section {
    position: relative;
    gap: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 450px;
    border-radius: 20px;
    background-color: #1b2141;
    border-radius: 20px;
    /* box-shadow: 0 0.home-5px 0 1px rgba(255, 255, 255, 0.home-23)inset, 0 1px 0 0 rgba(255, 255, 255, 0.home-66)inset, */
    /* 0 4px 16px rgba(0, 0, 0, 0.home-12); */
}

.home-t-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 450px;
    border-radius: 20px;
    background-color: #1b2141;
    z-index: 10;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.home-t-title {
    color: #1aeeef;
    width: 100%;
    text-align: center;
    font-weight: 2vw;
}

.home-Info {
    position: relative;
    /* flex:1; */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 50%;
    min-width: 190px;
    padding: 0 0;
    text-align: justify;
    z-index: 10;
}

.home-Info p {
    align-self: center;
    justify-self: center;
    color: #76a1d5;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    width: 90%;
}

.home-btn {
    display: block;
    padding: 10px 40px;
    /* margin: 10px auto; */
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    color: #784ba0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1 px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.local-glass button
{
    padding: 6px 30px;
    margin-left: 25%;
    width: 50%;
    max-width: 120px;
}
.home-btn:hover,
.home-btn:focus,
.home-btn:active,
.home-btn:vertical {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}



.home-swiper-container {
    flex: 1;
    /* padding: 30px 10px; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-swiper-slide {
    position: relative;
    box-shadow: 0 15px 50px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    user-select: none;
    height: 100%;
    width: 80%;
}

.home-swiper-slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.home-img-position {
    object-position: 50% 0%;
}

.home-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0f2027, transparent, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.home-overlay a {
    text-decoration: none;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px 18 px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, .2), inset -3px 3px 3px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(74px);
    text-align: center;
}

.home-overlay h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.4;
    margin: 0 0 20px 20px;
}

/*****game***/
.home-game-bx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1b2141;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.home-game-bx .home-card {
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    min-width: 135px;
    max-width: 50%;
    min-height: 270px;
    flex-grow: 1;
}

.home-game-bx .home-card img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.home-statistic {
    display: flex;
    flex-direction: column;
    background-color: #1b2141;
    gap: 30px;
    width: 100%;
    flex: 1;
    border-radius: 20px;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.home-statistic h2 {
    color: #1aeeef;
}
.home-crown-img {
    height: 70px;

}

.home-sort {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    /* min-height: 165px; */
    height: 150px;
}

.home-profile-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.home-sort>div:nth-child(1) img {
    border: 3px solid rgb(30, 30, 190);
}

.home-sort>div:nth-child(2) img {
    border: 3px solid goldenrod;
}

.home-sort>div:nth-child(3) img {
    border: 3px solid green;
}

.home-sort h4 {
    position: relative;
    font-size: 0.9em;
}

.home-sort h5 {
    position: relative;
    font-size: 0.9em;
    color: var(--border-color);
}

.home-first,
.home-second,
.home-third {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center ;
    position: relative;
    max-width: 150px;
    min-width: 100px;
    background-color: #050e2d;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px -2px 4px #ffffff;
}

.home-first h4,
.home-second h4,
.home-third  h4{
    margin-top: 20px;
}

.home-rank {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    transform: translateY(-65%) rotate(45deg);
    width: 18px;
    height: 18px;
    border-radius: 25%;
    background-color: var(--border-color);

}

.home-first-three h4 {
    margin-top: 15px;

}

.home-first-three {
    height: max-content;
}

.home-rank-text {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.4;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    transform: rotate(-45deg);
}

.home-first {
    --border-color: goldenrod;
    z-index: 2;
    height: 100%;
}

.home-second {
    --border-color: rgb(30, 30, 190);
    height: 70%;
    border-top-right-radius: unset;
}

.home-third {
    height: 60%;
    --border-color: green;
    border-top-left-radius: unset;
}

.home-list {
    align-self: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: auto;
    height: 300px;
    gap: 10px;
    width: 80%;
}

.home-user-class {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #393d53;
    align-items: center;
    justify-content: space-between;
    padding: 4px 55px 4px 15px;
    /* box-shadow: #ffffff 0px 0px 4px; */
}

.home-user-class img {
    position: absolute;
    top:0; 
    right: 0;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
}

.home-user-class h3,.home-user-class p{
    font-size: 15px;
    margin: 0;
}

.home-user-class h3{
    font-size: 20px;
}

.home-rank-username {
    display: flex;
    width: 120px;
    align-items: center;
    gap:5px
}

.home-score {
    font-size: 1em;
    color: #a993bd;
    font-weight: 500;
}

.home-score-value {
    font-size: 0.9em;
    color: #a69caf;
    font-weight: 400;
    text-shadow: #000000 0 2px 8px;
}

.home-up-down {
    font-size: 15px;
    color: #49d81e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-card-content {
    position: absolute;
    left: 50%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
}

.home-card-content h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.home-card-content .home-btm {
    font-family: 'Courier New', Courier, 'monospace';
    font-size: 1em;
    font-weight: 600;
    width: 65px;
    margin-right: 5px;
    border: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #c0b6b6 0px 3px 8px;
    color: #a04698;
}

.home-card-content .home-btm:hover {
    color: #050e2d;
    background-color: #1aeeef;

}

/****side3*/
.home-flex3 {
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    max-width: 250px;
    min-width: 200px;
    gap: 10px;
}

.home-coalition h2 {
    position: relative;
    color: #1aeeef;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.home-stairs {
    padding-top: 10px;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: center;
}
.home-st1, .home-st2, .home-st3{
    position: relative;
}
.home-st2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.home-st1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-st3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left end;
}
#home-coalition-winner
{
 /* position: absolute; */
    /* left: 37%; */
    color: #FFD700;
    box-shadow: #FFD700 0px 10px 20px -10px;
    
}
.home-coali-bx {
 
    min-width: 70px;
    width: 70%;
    height: 70%;
    object-fit: cover;
}
#home-coalSecond
{
    margin-left: 10px;
}
#home-coalThird
{
    margin-left: -20px;

}
.home-coali-bx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-st2 .home-number2 {
    width: 60%;
    height: 100px;
    background-color: #1e8d9f;
    border-radius: 7px;
    box-shadow: 0 0 5px #1aeeef;
    border: 2px solid #1aeeef;

}

.home-st1 .home-number1 {
    width: 70%;
    height: 140px;
    background-color: #1e8d9f;
    border-radius: 7px;
    box-shadow: 0 0 5px #1aeeef;
    border: 2px solid #1aeeef;
}

.home-coali-bx1 {
    /* background: url(whitwill/___4_-removebg-preview.home-png)no-repeat; */
    display: flex;
    flex-direction: column;
    background-size: 100%;
    width: 170px;
    height: 80%;
    align-items: center;
}

.home-coali-bx1 img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.home-coalition h2 {
    margin: 0;
}
.home-st3 .home-number3 {
    width: 60%;
    height: 80px;
    background-color: #1e8d9f;
    border-radius: 7px;
    box-shadow: 0 0 5px #1aeeef;
    border: 2px solid #1aeeef;
    color: #fff;

}

.home-Coalition-chart,
.home-Chart,
.home-coalition {
    flex:1;
    position: relative;
    min-height: 450px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    flex: 0 0 auto;
    width: min(250px, 100%);
    align-items: center;
    justify-content: center;
    background-color: #1b2141;

}

.home-Coalition-chart h2 {
    color: #1aeeef;
    margin-bottom: 5px;
}

.home-coalition-bar {
    border-radius: 2px;
    width: 40px;
    height: 20px;
    line-height: 1.2;
    text-align: center;
}

.home-one-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.home-flex-chart-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    /* align-items: center; */
    font-size: small;
}

.home-comodore-color {
    border: solid 2px #068200;
    background-color: #024716;
}

.home-pandora-color {
    border: solid 2px #ff1b8d;
    background-color: #9b116a;
}

.home-freax-color {
    border: solid 2px #ffcc00;
    background-color: #9b7f12;
}

.home-bios-color {
    border: solid 2px#87cefa;
    background-color: #5f94bc;
}

.home-pie-chart-1 {
    position: relative;
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 4px burly/images/wood; */
}
.home-nothing{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    font-weight: 800;
    font-family: monospace;
}

.home-pie-chart-1::before {
    content: var(--percent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: var(--percent-color);
    border: 1px groove var(--percent-color);
    font-weight: bold;
    text-align: center;
    line-height: 2.5;
}

.home-greatest-percentage{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
/**chart doughnut */

.home-Chart {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    /* padding: 1.home-5rem; */
    border-radius: 20px;
    /* margin-top: 15px; */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    /* gap: 30px; */
    /* align-items: center; */
    /* justify-content: space-around; */
}

.home-container-chart {
    position: relative;
    width: 100%;

    left: 50%;
    transform: translateX(-50%);
}

.home-pie-chart-2 {
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    aspect-ratio: 1 / 1;
    background-clip: content-box, border-box;
}

.home-legend {
    margin-block-end: 2rem;
    font-size: 0.9rem;
    flex-basis: 100%;
    display: flex;
    align-items: felx-start;
    flex-flow: wrap;
    gap: 1.2rem;
    margin-top: 30px;
    margin-left: 12px;
    justify-content: center;
    /* padding: 0 5px 0 5px; */
}

.home-span {
    position: relative;
    padding-inline-start: 1.24rem;
    /* width: 105px; */
}

.home-tournament{
    --content:'100';
}
.home-ai{
    --content:'50';
}

.home-unknown{
    --content:'70';
}

.home-friend{
    --content:'90';
}

.home-span::before {
    content: var(--content);
    position: absolute;
    display: flex;
    color: rgb(5, 5, 5);
    align-items: center;
    justify-content: center;
    top: -5px;
    left: -13px;
    font-size: 10px;
    font-weight: 400;

    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: outset;
}

.home-legend .home-friend::before {
    background-color: #d16ba5;
}

.home-legend .home-ai::before {
    background-color: #86a8e7;
}

.home-legend .home-unknown {
    margin-right: 2px;
}

.home-legend .home-unknown::before {
    background-color: #ffd600;
}

.home-legend .home-tournament::before {
    background-color: #0091ad;
}


.home-Chart h2 {
    color: #1aeeef;
    margin-bottom: 5px;
}

/* background animation */
.home-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: url('/images/whitwill/glass.png')no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
            #ff3cac 0%,
            #784ba0 50%,
            #2b86c5 100%);
    animation: home-animate 25s linear infinite;
    bottom: -150px;
}

.home-circles li:nth-child(1) {
    left: 5%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: url(/images/whitwill/glass.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.home-circles li:nth-child(2) {
    left: 15%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    animation-duration: 12s;
}

.home-circles li:nth-child(3) {
    left: 75%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}

.home-circles li:nth-child(4) {
    left: 22%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.home-circles li:nth-child(5) {
    left: 90%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    background: url(/images/whitwill/glass.png)no-repeat;
    background-position: center;
    background-size: cover;

}

.home-circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background: url(/images/whitwill/game-co.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.home-circles li:nth-child(7) {
    left: 25%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background: url(/images/whitwill/game-co.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.home-circles li:nth-child(8) {
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: 15s;
    animation-duration: 45s;
    background: url(/images/whitwill/ball.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.home-circles li:nth-child(9) {
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
    animation-duration: 16s;
}

.home-circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.home-circles li:nth-child(11) {
    left: 7%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
    animation-duration: 16s;
}

.home-circles li:nth-child(12) {
    left: 2%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
    animation-duration: 35s;
}


/* .home-logout-icon .home-notification-icon {
    display: block;
} */

.home-logout-container {
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 25px;
    background-color :#11152efa;
    padding: 5px 14px 5px 8px;
    box-shadow: 0 0 16px rgba(224, 81, 81, 0.418);
}

.home-logout-container h4 {
    all: unset;
    font-weight: 700;
    font-size: 20px;
    color: #BD1414BE;
}

.home-logout-icon {
    transform: rotate(180deg);
}

.home-tournamet-form {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: #000000de;
}

.home-input-label-container{
    position: relative;
    width: 100%;
}

.home-form-input {
    display: flex;
    position: relative ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    min-width: 200px;
    height: 30%;
}

.home-tournamet-form input {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: calc(1em + 1.6em + 0.2em);
    width: 100%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#050e2d, #1b2141), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: 0.8s ease-out;
}


input:hover, .home-tournament-form-btn:hover {
    background-position: 100% 0;
}

.home-input-label  {
    line-height: 1;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-style: none;
    outline: none;
    position: absolute;
    background-color:#000000de ;
    border-radius: 20px;
    padding: 1px 7px;
    /* left: 25px; */
    top: 2.5px;
    transform: translateY(-50%);
    /* border: 0.25em solid transparent;
    background-image: linear-gradient(#050e2d, #050e2d), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%); */
    border: 1px solid transparent;
    background-size: 200% 100%;

}

.home-tournament-form-btn {
    all: unset;
    text-align: center;
    color: #fff;
    border-style: none; 
     outline: none;
    font-weight: bold;
    width:60px;
    height: 100px;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#050e2d, #1b2141), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%; 
     transition: 0.8s ease-out; 
}
/* .home-tournament-form-btn:hover{
  color: #1b1f32;
  background-color: white;
} */

@keyframes home-animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.homeCard-stack {
    z-index: 10;
    position: relative;
    min-width: 50%;
}

.homeCard-tr-name
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.homeCard-card
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 180px;
    max-width: 280px;
    height: 380px;
    min-height: 300px;
    border-radius: 2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
      0 15px 20px 0 rgba(0, 0, 0, 0.125);
    transition: transform 0.6s;
    /* user-select: none; */
}
.homeCard-card img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    /* pointer-events: none; */
    /* filter: blur(2px);
    -webkit-filter: blur(1px); */
  }
  
.homeCard-title
{
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    background: -webkit-linear-gradient(0deg, #f76591, #ffc16f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    text-align: center;
}
  .homeCard-card:nth-last-child(n + 5) {
    --x: calc(-50% + 90px);
    transform: translate(var(--x), -50%) scale(0.85);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
  }
  
  .homeCard-card:nth-last-child(4) {
    --x: calc(-50% + 60px);
    transform: translate(var(--x), -50%) scale(0.9);
  }
  
  .homeCard-card:nth-last-child(3) {
    --x: calc(-50% + 30px);
    transform: translate(var(--x), -50%) scale(0.95);
  }
  
  .homeCard-card:nth-last-child(2) {
    --x: calc(-50%);
    transform: translate(var(--x), -50%) scale(1);
  }
  
  .homeCard-card:nth-last-child(1) {
    --x: calc(-50% - 30px);
    transform: translate(var(--x), -50%) scale(1.05);
  }
  
  .homeCard-card:nth-last-child(1) img {
    box-shadow: 0 1px 5px 5px rgba(255, 193, 111, 0.5);
  }
  .homeCard-swap {
    animation: swap 1.3s ease-out forwards;
  }
  
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg)
        rotateY(65deg);
    }
    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
  
  /* Media queries for keyframes */
  
  @media (max-width: 1200px) {
    @keyframes swap {
      30% {
        transform: translate(calc(var(--x) - 200px), -50%) scale(0.85)
          rotate(-5deg) rotateY(65deg);
      }
  
      100% {
        transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
        z-index: -1;
      }
    }
  }
  
  @media (max-width: 1050px) {
    @keyframes swap {
      30% {
        transform: translate(calc(var(--x) - 150px), -50%) scale(0.85)
          rotate(-5deg) rotateY(65deg);
      }
  
      100% {
        transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
        z-index: -1;
      }
    }
  }


@media (max-width: 850px) {
    .home-flex1, .home-flex2, .home-flex3{
        flex: 1;
    }
    .home-form-input{
        width: 50%;
    }

    .home-t-content {
        align-items: flex-start;
        max-width: 100%;
        /* transform: scale(1); */
        flex-wrap: wrap;
        
        /* height: 700px; */
        gap: 10px;
        height: auto;
        padding: 10px;
        
    }

    .homeCard-stack{
        width: 100%;
        flex: 1;
        height: 400px;
    }
    .homeCard-card {
        /* position: relative; */
        min-width: 180px;
        max-width: 280px;
        height: 370px;
    }
    .home-content {
        /* width: 100vw; */
        flex-direction: column;
        align-items: center;
    }

    .home-card {
        min-width: 125px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        max-width: 200px;
        /* overflow: hidden; */
    }

    .home-btn {
        margin: 10px auto 40px;
    }

    /* .home-card-content {
        margin: 0;
        font-size: 14px;
        margin-top: 100px;
        overflow: hidden;
        max-height: 110px;
    } */
    .local-glass button
    {
        margin-left: auto;
    }
    .home-card-content .home-btm {
        font-family: 'Courier New', Courier, 'monospace';
        font-size: 1em;
        font-weight: 600;
        width: 65px;
        margin-right: 5px;
        border: none;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        box-shadow: #c0b6b6 0px 3px 8px;
        color: #a04698;
    }

    .home-game-bx {
        position: relative;
        padding: 5px;
        flex-wrap: wrap;
        width: 100%;
    }

    .home-game-bx image {
        width: 100%;
        height: 100%;
    }

    section {
        height: auto;
    }

    .home-Info {
        justify-content: space-around;
        max-width: 90%;
        height: 200px;
        gap: 10px;
    }
    .home-Info p, .home-Info h2{
        margin: 0;
    }
    .home-flex1 {
        order: 3;
        height: 800px;
        position: relative;
        width: 100%;
        max-width: unset;
    }
    .home-tournament-local 
    {
        width: 100%;
        height: auto;
    }
    .home-tournament-local .Tour-Character
    {
    width: 100%;
    height: 100%;
    }
    .local-glass
    {
        top: 30%;
    }

    .home-flex2 {
        order: 1;
        position: relative;
        width: 100%;
        min-width: unset;
    }

    .home-flex3 {
        order: 2;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;
        width: 100%;
        max-width: unset;
        align-items: center;
    }
  
    .home-users-list {
        position: relative;
        height: 550px;
        margin-bottom: 65px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-user {
        /* flex: 1 1 auto; */
        flex: unset;
        width: 250px;
    }
}

  

