@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.img-bx {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
}

.img-bx img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.player-name {
    font-size: 14px;
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    max-width: 1000px;
    background-color: #1b2141;
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 80px);
    height: calc(100vh - 100px);
    border-radius: 20px;
    /* height: 100%; */
    gap: 8px;
    margin: 80px 40px 0 40px;
    padding: 20px 0 40px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 16px rgba(73, 76, 247, 0.8);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 100%;
}

.players-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

/* Modal style */
.modal-content {
    background-color: #050e2d;
}

.modal-header {
    background-color: #050e2d;
}

.modal-footer {
    background-color: #050e2d;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-title {
    margin: 0;
}
.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.winner-box {
    border: 2px solid gold !important;
}

/* Make sure the layout is responsive */
@media (max-width: 600px) {
    .profile img {
        width: 40px;
        height: 40px;
    }
    .profile {
        margin-bottom: 10px;
    }
    canvas {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .players-container {
        display: none;
    }
    canvas {
        /* transform: rotate(-90deg); */
        width: 120%;
    }
}