@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #050e2d;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2141;
    z-index: 1000;
}

header .logo img {
    width: auto;
    height: 100%;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    color: #a0a0a0;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
}

header ul li a:hover {
    color: #fff;
    font-weight: 600;
}

header .action {
    display: flex;
    text-align: end;
}

.action .bel {
    color: #fff;
    margin-left: 10px;
    font-size: 1.7em;
}

.profile-box {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.profile-box a {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 5px;
    color: #1aeeef;
}

.profile-box .img-bx {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
}

.img-bx img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    background-color: #1b2141;
}

.profile-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #1b2141;
}

.pro-box, .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.clip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clip img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.title-box h4 {
    color: #1aeeef;
    margin-top: 10px;
}

.rank-box h4 {
    color: #7e638a;
    font-size: 1.2em;
    font-weight: 600;
}

.level-bx {
    padding: 10px;
    background-color: #2b2f3a;
    border-left: 3px solid #1aeeef;
    width: 100%;
    border-radius: 5px;
}

.level-line {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.level-progress {
    height: 100%;
    width: 30%;
    background: linear-gradient(90deg, #a04698, #7e638a);
}

.dashboard .box {
    width: 100px;
    text-align: center;
}

.dashboard h4 {
    margin-top: 10px;
    color: #7e638a;
}

/* Responsive Design */


@media (max-width: 480px) {
    header ul li a {
        font-size: 14px;
    }

    .clip img {
        width: 60px;
        height: 60px;
    }

    .level-bx {
        text-align: center;
        padding: 5px;
    }

    .dashboard .box {
        width: 70px;
    }
}