@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #050e2d;
    display: flex;
    width: 100%;
    height: calc(100vh - 40px);
    gap: 20px;
    flex-direction: column;
    align-items: center;
}              

.img-bx {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
}

.img-bx img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.player-name {
    font-size: 14px;
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    max-width: 1000px;
    height: calc(0.5 * width);
    background-color: #1b2141;
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 80px);
    border-radius: 20px;
    height: 100%;
    gap: 8px;
    margin: 80px 50px 0 50px;
    padding: 20px 0 40px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);

}

.players-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

/* Change the background color of the modal content */
.modal-content {
    background-color: #050e2d; /* Change to your desired color */
}

/* Change the background color of the modal header */
.modal-header {
    background-color: #050e2d; /* Change to your desired color */
}

/* Change the background color of the modal footer */
.modal-footer {
    background-color: #050e2d;/* Change to your desired color */
}

/* to center the modal header */
.modal-header {
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center;     /* Center text vertically (optional) */
}
.modal-title {
    margin: 0; /* Ensure there's no margin around the title */
}
.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

/* start of tournament css */

/* Tournament Bracket Styles */
.tournament-bracket {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 0px;
}

.trophy-container {
    font-size: 48px;
    color: gold;
}

.winner-box {
    width: 180px;
    height: 70px;
    background-color: #1b2141;
    border: 2px solid gold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.bracket-columns {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.bracket-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.bracket-box {
    width: 31%;
    height: 60px;
    background-color: #1b2141;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.left-column {
    align-items: flex-start;
}

.right-column {
    align-items: flex-end;
}

.left-column .bracket-box:nth-child(1),
.left-column .bracket-box:nth-child(3) {
    position: relative;
}

.left-column .bracket-box:nth-child(1)::after, .left-column .bracket-box:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 75%;
    height: 4px;
    background: #fff;
    left: 100%;
}


.left-column .bracket-box:nth-child(2) {
    align-self: flex-end;
    position: relative;
}

.left-column .bracket-box:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 56%;
    height: 4px;
    background: #fff;
    left: -56%;
}
.left-column .bracket-box:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 381%;
    background: #fff;
    left: -56%;
}

.right-column .bracket-box:nth-child(2) {
    align-self: flex-start;
    position: relative;
}

.right-column .bracket-box:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 381%;
    background: #fff;
    right: -56%;
}
.right-column .bracket-box:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 56%;
    height: 4px;
    background: #fff;
    right: -56%;
}

.right-column .bracket-box:nth-child(1),
.right-column .bracket-box:nth-child(3) {
    position: relative;
}

.right-column .bracket-box:nth-child(1)::before, .right-column .bracket-box:nth-child(3)::before {
    position: absolute;
    content: "";
    width: 75%;
    height: 4px;
    background: #fff;
    right: 100%;
}

/* Styles for the nickname input */
#nickname-input .input-group {
    max-width: 350px;
}

#nickname-input .input-group .form-control {
    margin-right: 8px;
}

#nickname-input .form-control {
    background-color: #1b2141;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
}

#nickname-input .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#nickname-input .btn-primary {
    background-color: #0091ad;
    border-radius: 15px;
    border: none;
}

#nickname-input .btn-primary:hover {
    background-color: #007a90;
}

/* end of tournament css */

/* Make sure the layout is responsive */
@media (max-width: 600px) {
    canvas {
        width: 90%;
        height: 50%;
    }

    .profile img {
        width: 40px;
        height: 40px;
    }
    .profile {
        margin-bottom: 10px;
    }
}